@import "reveal.css";
@import "zenburn.css";

.reveal section {
	@mixin logo {
		display: inline-block;
		vertical-align: middle;
		border: none;
		background: none;
		box-shadow: none;
	}
	img.redhat-logo {
		height: 200px;
		@include logo;
	}
	img.hibernate-logo {
		height: 100px;
		@include logo;
	}
	mark {
		// Disable syntax highlighting in child elements
		&, & * {
			background-color: yellow;
			color: black;
		}
	}
}
