@import "reveal/reset.css";
@import "reveal/reveal.css";
@import "reveal/plugin/highlight/zenburn.css";

.reveal section {
	img.logo {
		display: inline-block;
		vertical-align: middle;
		border: none;
		background: none;
		box-shadow: none;
		margin: 0px 20px;

		&.redhat {
			height: 80px;
		}
		&.hibernate {
			height: 100px;
		}
		&.lucene {
			height: 60px;
		}
		&.elasticsearch {
			height: 100px;
		}
	}

	mark {
		// Disable syntax highlighting in child elements
		// Also, switch to a less aggressive yellow background
		&, & * {
			background-color: #cccc00;
			color: black;
		}
	}

	code {
		// Do not uppercase inline code in headers, for instance
		text-transform: none;
	}

	// Make text smaller in inline code too
	code {
		font-size: 0.8em;
	}
	// But do not change the behavior in <pre> (which also reset line height)
	pre code {
		font-size: inherit;
	}

	// Make <pre> take the full width in lists
	li pre {
		width: 100%;
		margin: 20px 0px;
	}

	&.grid {
		display: flex !important;
		flex-wrap: wrap;
		align-items: center;
		& > .column {
			display: flex;
			flex-direction: column;
			position: relative;
		}

		// Set widths so that everything flexes as expected
		& > * {
			flex-grow: 1;
			margin-left: 10px;
		}
		& > h1, & > h2, & > h3, & > h4, & > h5, & > h6 {
			width: 100%;
		}
		pre {
			width: auto;
		}

	}

	// Custom fragment styles
	&.nested-fragments-highlight-current-red, & .nested-fragments-highlight-current-red {
		.fragment.current-fragment {
			color: #ff2c2d;
			// Also disable syntax highlighting
			* {
				background-color: inherit;
				color: inherit;
			}
		}
	}
	.fragment.strike {
		opacity: 1;
		visibility: inherit;
		&.visible {
			text-decoration: line-through;
		}
	}
	.fragment.display-fade-out {
		opacity: 1;
		visibility: inherit;
		&.visible {
			display: none;
		}
	}
	.fragment.display-fade-in {
		display: none;
		&.visible {
			animation: added-item-animation 0.3s linear forwards;
			display: inline;
		}
	}
}

@keyframes added-item-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
