@import "reveal.css";
@import "zenburn.css";

.reveal section {
	img.logo {
		display: inline-block;
		vertical-align: middle;
		border: none;
		background: none;
		box-shadow: none;

		&.redhat {
			height: 200px;
		}
		&.hibernate {
			height: 100px;
		}
		&.lucene {
			height: 60px;
		}
		&.elasticsearch {
			height: 100px;
		}
	}

	mark {
		// Disable syntax highlighting in child elements
		&, & * {
			background-color: yellow;
			color: black;
		}
	}

	code {
		// Do not uppercase inline code in headers, for instance
		text-transform: none;
	}
}
