.viz {
	.graph > polygon {
		fill: $graphFillColor;
	}

	.node {
	  @include graphElementColor($nodeStrokeColor, $nodeFillColor);
		& > text {
			font-size: $nodeFontSize;
		}
	}

	.cluster {
	  @include graphElementColor($clusterStrokeColor, $clusterFillColor);
		& > text {
			font-size: $clusterFontSize;
		}
	}

	.edge {
	  @include graphElementColor($edgeStrokeColor, $edgeFillColor);
		& > text {
			font-size: $edgeFontSize;
		}
	}

	text {
		font-family: $graphTextFontFamily;
		fill: $graphTextFillColor;
	}
}
