.viz {
	.graph > polygon {
		fill: $graphFillColor;
	}

	.node {
		& > polyline {
			stroke: $nodeStrokeColor;
		}
		& > ellipse, & > polygon, & > path {
			fill: $nodeFillColor;
			stroke: $nodeStrokeColor;
		}
		& > text {
			font-size: $nodeFontSize;
		}
	}

	.edge {
		& > polyline, & > path {
			stroke: $edgeStrokeColor;
		}
		& > ellipse, & > polygon {
			fill: $edgeFillColor;
			stroke: $edgeStrokeColor;
		}
		& > text {
			font-size: $edgeFontSize;
		}
	}

	text {
		font-family: $graphTextFontFamily;
		fill: $graphTextFillColor;
	}
}
